.history
*~
.DS_Store
.dir-locals.el
.ensime
.ensime_cache
.idea
.idea_modules
.lib
.sbtrc
.vagrant
stress-test/results*
target/
*/src/main/resources/dist
*.ovpn
_site
.jekyll-metadata
*/native/libsigar*

*/src/main/resources/application.conf

node_modules
data/*.json
